.about-section-box {
    padding: 70px 0px;
    background: #ffffff;
    background-size: cover;
    border-top: 1px solid;
  }
  .about-section-box .img-fluid {
    box-shadow: 20px 20px 0px #d65106;
    margin-right: auto;
    display: block;
   
    
  }
  .inner-column {
   text-align: right;
    
  }
  .inner-column h1 {
      text-align: center;
  }
  .inner-column h2 {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    color: #010101;
    font-weight: 500;
  }
  .inner-column h2 span {
    color: #d65106;
  }
  .inner-column h4 {
      
    font-size: 16px;
    font-weight: 500;
  }
  .inner-column p {
    font-size: 18px;
    color: #222222;
    text-align: right;
  }
  .information-about{
    /* padding-top: 10%; */
  }
