@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
.item {
  width: 250px;
  padding: 0 0.8rem 0.8rem 0.8rem;
  background-color: rgb(245, 236, 236);
  border-radius: 50px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.item img {
  margin-top: -3.5rem;
  height: 200px;
  object-fit: contain;
}
.item-foot_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-head_desc p {
  margin: 0;
  margin-bottom: 0.5rem;
 
}

.item-foot_desc button {
  background: #000;
  color: #fff;
  border-radius: 50%;
}
.item-head_desc {
  text-align: left;
  flex: 1;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.head_desc-name  {
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  flex: 1;
}
.head_desc-info {
  font-size: 1rem;
  color: #181414;
}
.foot_desc-price {
  font-weight: 700;
}

